<div class="container pt-4 pb-4">
  <div class="card mb-2">
    <div class="card-header">
      <b>Add Classes & Subjects</b>
    </div>
    <div class="card-body pb-1">
      <form>
        <div class="form-group row">
          <label class="col-2">Class Name</label>
          <input type="text" name="className" class="form-control col-8" placeholder="Enter Class Name"
            [(ngModel)]="curClassName">
          <div class="col-2">
            <button [disabled]="isEmpty(curClassName)" class="btn btn-primary full-width pull-right"
              (click)="addClass()">Add
              Class</button>
          </div>
        </div>
      </form>
      <form>
        <div class="form-group row">
          <label class="col-2">Subject</label>
          <input type="text" name="subjectName" class="form-control col-8" placeholder="Enter Subject"
            [(ngModel)]="curSubjectName">
          <div class="col-2">
            <button [disabled]="isEmpty(curSubjectName)" class="btn btn-primary full-width pull-right"
              (click)="addSubject()">Add
              Subject</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-4"
    *ngIf="section && ((section.classes && section.classes.length) || (section.subjects && section.subjects.length))">
    <div class="card-header">
      <b>Class Subject Availability</b>
    </div>
    <div class="card-body pb-1">
      <div class="row">
        <div class="col border">
          <b>Availability</b>
        </div>
        <div class="col border" *ngFor="let class of section.classes">
          <b>{{ class.name }}</b>
        </div>
      </div>
      <div class="row" *ngFor="let subject of section.subjects">
        <div class="col border">
          <b>{{ subject.name }}</b>
        </div>
        <div class="col border" *ngFor="let class of section.classes">
          <div class="row">
            <div class="col">
              <span class="mr-2 mt-1 pull-left">{{ data.counts[subject.index][class.index].available }} of</span>
              <div class="pull-left">
                <number-input
                  [min]="data.counts[subject.index][class.index].total - data.counts[subject.index][class.index].available"
                  [step]="1" [(value)]="data.counts[subject.index][class.index].total"></number-input>
              </div>
              <span class="ml-2 mt-1 pull-left">remaining</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pb-1">
      <form>
        <div class="form-group row">
          <div class="col">
            <button class="btn btn-danger pull-right" (click)="clear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-2" *ngIf="section && section.subjects">
    <div class="card-header">
      <b>Add Students</b>
    </div>
    <div class="card-body pb-1">
      <form>
        <div class="form-group row">
          <label class="col-2">Student Name</label>
          <input type="text" name="studentName" class="form-control col-8" placeholder="Enter Student Name"
            [(ngModel)]="curStudentName">
        </div>
        <div class="form-group row">
          <label class="col-2">Subject</label>
          <div class="col-8 p-0">
            <select-input placeholder="Select Subject" [options]="subjectList" [(value)]="selectedSubject">
            </select-input>
          </div>
          <div class="col-2">
            <button [disabled]="!selectedSubject" class="btn btn-primary full-width pull-right"
              (click)="addStudentSubject()">Add
              Subject</button>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <span><b>Selected Subjcts</b></span>
            </div>
          </div>
          <div class="row" *ngFor="let subject of curStudentSubjects; index as i;">
            <div class="col-1">
              <span>{{ i+1}}</span>
            </div>
            <div class="col-11">
              <span>{{ subject.name }}</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <button [disabled]="isEmpty(curStudentName)" class="btn btn-primary full-width pull-right"
              (click)="addStudent()">Add
              Student</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card" *ngIf="section && (section.students && section.students.length)">
    <div class="card-header">
      <b>Student Class Asignments</b>
    </div>
    <div class="card-body pb-1">
      <div class="row">
        <div class="col-12 border-bottom">
          <span><b>Class Breakdown</b></span>
        </div>
      </div>
      <div class="row">
        <div class="col border pt-0 pb-0" *ngFor="let class of section.classes">
          <div class="row bottom-border head mb-1">
            <div class="col text-center">
              <span><b>{{ class.name }}</b></span>
            </div>
          </div>
          <div class="row" *ngIf="!getStudentsOfClass(class.index).length">
            <div class="col">
              <span>No students</span>
            </div>
          </div>
          <div class="row" *ngFor="let student of getStudentsOfClass(class.index); index as i;">
            <div class="col pb-1">
              <span class="pr-1">{{ i + 1 }}</span>
              <span>. {{ student.name }}</span>
              <span class="span-btn pr-1 pl-1 pull-right" (click)="removeStudent(student)"><i
                  class="fa fa-trash"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 border" *ngIf="getStudentsWithClass().length">
        <div class="col-12 border-bottom">
          <span><b>Students With Class</b></span>
        </div>
        <div class="col-12">
          <div class="row" *ngFor="let student of getStudentsWithClass(); index as i;">
            <div class="col-2 pb-1 pt-1">
              <span class="pr-1">{{ i + 1 }}</span>
              <span>. {{ student.name }}</span>
            </div>
            <div class="col-5 pb-1 pt-1">
              <span class="pr-1"><b>Subjects :</b></span>
              <span class="pr-1" *ngFor="let subject of student.subjects; index as i;">
                {{ subject.name }}<span *ngIf="i < student.subjects.length - 1">,</span>
              </span>
            </div>
            <div class="col-4 pb-1 pt-1">
              <span class="pr-1"><b>Class :</b></span>
              <span class="pr-1">{{ section.classes[student.classIdx].name }}</span>
            </div>
            <div class="col-1 pb-1 pt-1">
              <span class="span-btn pr-1 pl-1 pull-right" (click)="removeStudent(student)"><i
                  class="fa fa-trash"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 border" *ngIf="getStudentsWithNoClass().length">
        <div class="col-12 border-bottom">
          <span><b>Students Without Class</b></span>
        </div>
        <div class="col-12">
          <div class="row" *ngFor="let student of getStudentsWithNoClass(); index as i;">
            <div class="col-2 pb-1 pt-1">
              <span class="pr-1">{{ i + 1 }}</span>
              <span>. {{ student.name }}</span>
            </div>
            <div class="col-9 pb-1 pt-1">
              <span class="pr-1"><b>Subjects :</b></span>
              <span class="pr-1" *ngFor="let subject of student.subjects; index as i;">
                {{ subject.name }}<span *ngIf="i < student.subjects.length - 1">,</span>
              </span>
            </div>
            <div class="col-1 pb-1 pt-1">
              <span class="span-btn pr-1 pl-1 pull-right" (click)="removeStudent(student)"><i
                  class="fa fa-trash"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row mt-2">
        <div class="col">
          <button class="btn btn-primary full-width pull-right" (click)="generateReport()">Download</button>
        </div>
      </div>
    </div>
  </div>
</div>
